img.emoji {  
  // Override any img styles to ensure Emojis are displayed inline
  margin: 0px !important;
  display: inline !important;
    border: none !important;
    box-shadow: none !important;
}